@tailwind base;
@tailwind components;
@tailwind utilities; 

/* your custom css */
:root {
  --foreground-rgb: 0, 0, 0;
  /* Other custom properties */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* Other custom properties for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('./lasseq_bg.png');
  background-size: cover;
  background-position: center; /* Center the background horizontally */
  background-repeat: no-repeat; /* Ensure the background doesn't repeat */
  display: flex;
  justify-content: center; 
  align-items: center; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.top-text h1,
.bottom-text p {
  margin: 0;
}

.top-text h1 {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5em;
  font-weight:400;
  color: #EA4335;
  text-shadow: 2px 2px 5px rgba(74, 74, 74, 0.242);
}

.bottom-text {
  margin-top: 50px;
}

.bottom-text p:last-child {
  font-family: "Montserrat Alternates";
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5em;
  font-weight:500;
  color: #EA4335;
  text-shadow: 2px 2px 5px rgba(74, 74, 74, 0.242);

}

.social-icons {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-icons a {
  color: #EA4335; /* Adjust color as needed */
  font-size: 24px; /* Adjust size as needed */
}
